@model List<tallerIIpractico3.entities.Pedido>

@{
    ViewData["Title"] = "Index";
}

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
               Fecha - Hora
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Estado del pedido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                <form asp-controller="Pedido" asp-action="UpdatePedido" method="post">
                    <input type="number" name="pedidoId" value="@item.Id" hidden>
                    <select id="estado" name="estadoPedido">
                        <option value="" selected>@item.EstadoPedido</option>
                        @if (item.EstadoPedido == tallerIIpractico3.entities.Estado.En_camino.ToString())
                        {
                            <option value="@tallerIIpractico3.entities.Estado.Entregado">Entregado</option>
                            <option value="@tallerIIpractico3.entities.Estado.No_entregado">No Entregado</option>
                        }
                    </select>
                    @if (item.EstadoPedido == tallerIIpractico3.entities.Estado.En_camino.ToString())
                    {
                        <button type="submit" class="btn btn-primary">Cambiar</button>
                    }
                </form>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })

            </td>
        </tr>
}
    </tbody>
</table>
