@model tallerIIpractico3.ViewModel.PedidoIndexViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.UserLog != null)
{
    if(Model.UserLog.Rol == "admin")
    {
        @await Html.PartialAsync("MenuAdmin", Model.UserLog);
    }
    else
    {
        @await Html.PartialAsync("MenuUser", Model.UserLog);
    }

    <hr/>
    <h4>Pedidos</h4>
    <div class="row">
            <div class="btn-group, col-md-2" role="group" aria-label="Basic outlined example">
                <a button type="button" class="btn btn-primary" asp-action="IndexTodosLosPedidos">Todos los Pedidos</a>
            </div>

            <div class="btn-group, col-md-8" role="group" aria-label="Basic outlined example">

                <form asp-controller="Pedido" asp-action="IndexBusquedaFiltrada" method="post">
                    <label for="fechaInicial">Fecha Inicial</label>
                    <input type="datetime-local" name="fechaInicial" id="fechaInicial">

                    <label for="fechaFinal">Fecha Final</label>
                    <input type="datetime-local" name="fechaFinal" id="fechaFinal">

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </div>
            <div class="btn-group, col-md-2" role="group" aria-label="Basic outlined example">
                  <a button type="button" class="btn btn-primary" asp-action="IndexPedido">Limpiar</a>  
            </div>

    </div>
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                   Fecha - Hora
                </th>
                <th>
                    Observaciones
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Estado del pedido
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                Model.Pedidos.Reverse();
            }
    @foreach (var item in Model.Pedidos) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
                <td>
                    <form asp-controller="Pedido" asp-action="UpdatePedido" method="post">
                        <input type="number" name="pedidoId" value="@item.Id" hidden>
                        <select id="estado" name="estadoPedido">
                            <option value="" selected>@item.EstadoPedido</option>
                            @if (item.EstadoPedido == tallerIIpractico3.entities.Estado.En_camino.ToString())
                            {
                                <option value="@tallerIIpractico3.entities.Estado.Entregado">Entregado</option>
                                <option value="@tallerIIpractico3.entities.Estado.No_entregado">No Entregado</option>
                            }
                        </select>
                        @if (item.EstadoPedido == tallerIIpractico3.entities.Estado.En_camino.ToString())
                        {
                            <button type="submit" class="btn btn-primary">Cambiar</button>
                        }
                    </form>

                </td>
            </tr>
    }
        </tbody>
    </table>
}else
{
    <script type="text/JavaScript">
      setTimeout("location.href = 'https://localhost:44374/';",2000);
    </script>

    <p>No tiene permiso para estar en esta pagina</p>
}