@{
    ViewData["Title"] = "Modificar Cadetes";
}
@model tallerIIpractico3.ViewModel.CadeteViewModel

<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-controller="Cadete" asp-action="ModificarCadete" method="post">
                <fieldset>
                    <legend class="">Registrar un cadete</legend>
                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label"></label>
                        <input type="text" id="Nombre" class="form-control" asp-for="Nombre" value="@Model.Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Direccion" class="form-label"></label>
                        <input type="text" id="Direccion" class="form-control" asp-for="Direccion" value="@Model.Direccion" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Telefono" class="form-label"></label>
                        <input type="text" id="Telefono" class="form-control" asp-for="Telefono" value="@Model.Telefono" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Vehiculo" class="form-label"></label>
                        <select id="Vehiculo" asp-for="Vehiculo">
                            <option value="" selected>Seleccione</option>
                            <option value="@tallerIIpractico3.entities.TipoVehiculo.Bicicleta">Bicicleta</option>
                            <option value="@tallerIIpractico3.entities.TipoVehiculo.Auto">Auto</option>
                            <option value="@tallerIIpractico3.entities.TipoVehiculo.Moto">Moto</option>
                        </select>
                    </div>
                    <input type="number" class="form-control" asp-for="Id" value="@Model.Id" hidden>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
