@model IEnumerable<tallerIIpractico3.entities.Cadete>

@{
    ViewData["Title"] = "IndexCadete";
}

<h4>Cadetes</h4>


<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                Pedidos sin Pagar
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo)
            </td>
            <td>
                @item.Pedidos.Count()
            </td>
            <td style="border:solid gray 1px">
                @Html.ActionLink("Pagar", "", new { /* id=item.PrimaryKey */ })
            </td>
            <td>
                @Html.ActionLink("Modificar", "", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
