@model tallerIIpractico3.ViewModel.CadeteIndexViewModel

@{
    ViewData["Title"] = "IndexCadete";
}


@if (Model.UserLog != null)
{
    if(Model.UserLog.Rol == "admin")
    {
        @await Html.PartialAsync("MenuAdmin", Model.UserLog);
    }
    else
    {
        @await Html.PartialAsync("MenuUser", Model.UserLog);
    }
    <hr/>
    <h4>Cadetes</h4>
    <table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
            <th>
                Vehiculo
            </th>
            <th>
                Pedidos sin Pagar
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Cadetes.Count() > 0)
        {
             @foreach (var item in Model.Cadetes) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehiculo)
                    </td>
                    <td>
                        @item.Pedidos.Count()
                    </td>
                    <td style="border:solid gray 1px">
                        <div style="font-size:1em; text-decoration:none">
                        @Html.ActionLink("PAGAR", "PagarACadete", item)
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditView", item) |
                        @Html.ActionLink("Eliminar", "DeleteView", item)
                    </td>
                </tr>
            }
       
        }
    </tbody>
</table>

}else
{
    <script type="text/JavaScript">
      setTimeout("location.href = 'https://localhost:44374/';",2000);
    </script>

    <p>No tiene permiso para estar en esta pagina</p>
}

