@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model tallerIIpractico3.entities.Cadete

<div>
    <h3>Liquidación</h3>
</div>
<div>
    <p>Nombre: @Model.Nombre</p>
    <p>Dirección: @Model.Direccion</p>
    <p>Teléfono: @Model.Telefono</p>
</div>

<div>
    <table class="table table-striped" style="text-align:center">
        <tr>
            <th>Nro de pedido</th>
            <th>Dirección</th>
            <th>Estado</th>
        </tr>

        @foreach (var item in Model.Pedidos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Cliente.Direcccion</td>
                <td>@item.Estado</td>
            </tr>
          
        }

    </table>
</div>

<div>
    <p>Total a pagar: $  </p>
</div>

<div>
    <a button type="button" class="btn btn-secondary btn-sm" href="ConfirmarPago?id=@Model.Id" style="margin:2px">Pagar y Limpiar Lista</a>
    <a button type="button" class="btn btn-secondary btn-sm" href="ImprimirPdf?id=@Model.Id" style="margin:2px">Imprimir</a>
    <a button type="button" class="btn btn-secondary btn-sm" asp-controller="Cadete" asp-action="Index" style="margin:2px">Cancelar</a>
</div>